body {
  background-color: black;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

img {
  padding: 20px;
}

.mainTable th {
  background-color: #333;
}

.mainTable tbody tr:nth-child(odd) {
  background-color: #555;
}

.mainTable tbody tr:nth-child(even) {
  background-color: #444;
}

.characterNextPage,
.characterPrevPage {
  background-color: #777;
  color: black;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.characterNextPage:disabled,
.characterPrevPage:disabled {
  background-color: #999;
  cursor: not-allowed;
}