body {
  background-color: black;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #1a19198e;
}

.logo {
  margin-left: 50px;
}

.landing {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  gap: 20px;
}

.container {
  display: grid;
  place-items: center;
}

.peopleImg,
.shipsImg {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  font-size: 20px;
  background-color: #333;
}

th {
  text-align: left;
  background-color: #555;
  color: white;
}

th,
td {
  border: 1px solid snow;
  min-width: 150px;
  padding: 5px;
  color: white;
}

button {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  min-width: 200px;
  background-color: #555;
  color: white;
}